body{
    background-color: #0A0A0A;
}
.adm-layout {
    display: flex;
    width: 100%;
}

.adm-main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 260px; 
    min-width: 0; 
}
.adm-header {
    width: 100%; 
    height: 70px;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .adm-main-wrapper {
        margin-left: 0; 
    }
    
    .adm-header {
        padding: 0 10px;
        justify-content: space-around; 
    }

    .adm-search-container {
        flex: 1;
        margin-right: 10px;
    }

    .adm-profile-text, .adm-lang-pill {
        display: none; 
    }
}