
.manager-form select {
    background-color: #222222;
    border: 1px solid #2d2d2d;
    padding: 14px 16px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 14px;
    transition: border-color 0.2s;
    width: 100%;
}

.manager-form select:focus {
    border-color: #e31b23;
    outline: none;
}